body, html {
    padding: 0px;
    margin: auto;
}

header {
    position: absolute;
    background-color: lightsteelblue;
    top: 0%;
    height: 7%;
    width: 100%;
}

#title {
    text-align: center;
    float: left;
    width: 30%;
    height: 100%;
}
#buttons {
    transform: translate(50%, 50%);
    height: 100%;
}

svg {
    xmlns: "http://www.w3.org/2000/svg";
}

#year {
    position: absolute;
    top: 7%;
    width: 100%;
    height: 13%;
}

#data {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
}