body, html {
    padding: 0px;
    margin: auto;
}

.navbar-default {
    background-color: transparent;
    border: none;
    padding-right: 20%;
}
@media (min-width: 984px) {
  .navbar-default {
    padding-right: 25%;
  }
}

h1 {
  margin: 0px;
  padding: 0px 0px 8px 0px;
  color: white;
  top: 10%;
}

header {
  text-align: center;
  top: 0;
  width: 100%;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    height: 10%;
}
.navbar-nav>li>a {
  padding-top: 4px;
  padding-bottom: 8px;
}
svg {
    position: absolute;
    transform: translate(50%);
    top: 8%;
    width: 50%;
    height: 90%;
    border: 1px solid black;
}
@media (min-height: 750px) and (min-width: 984px)  {
  svg {
    top: 10.8%;
  }
}

@media (max-height: 750px) and (min-width: 984px)  {
  svg {
    top: 13.2%;
  }
}
