body, html {
    padding: 0px;
    margin: auto;
}

header {
    position: absolute;
    background-color: lightsteelblue;
    text-align: center;
    top: 0%;
    height: 7%;
    width: 100%;
}

svg {
    xmlns: "http://www.w3.org/2000/svg";
}

#year {
    position: absolute;
    top: 7%;
    width: 100%;
    height: 13%;
}

#data {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
}