
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>The Beauty of Lightsteel Blue</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="../static/css/overwrite.css" rel="stylesheet">
    <style>
      p { text-indent: 24px; }
    </style>
</head>

<body>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header style="background-color: lightsteelblue;">
    <div id="title">
<span>
  <b>Some Strange Music Data Project</b>
</span>
    </div>
    <div id="buttons">
<span>
  <button id="home">
     <a style="text-decoration: none; color: black" href="/">Home</a>
  </button>
  <div style="width:50px;height:auto;display:inline-block"></div>
  <button id="about">
    About
  </button>
</span>
    </div>
  </header>

    <!-- Main Content -->
    <div style='margin: auto; position: absolute; max-width: 774px; top: 3%; left: 0; right: 0; font-family: "Quicksand", "Arial", "Sans Serif"; font-size: 16px'>
      <h1 style="color: black; text-align: center; padding-top: 2%;">About Us</h1>
      <h3>Project Members</h3>
      <p>PChan, Zicheng Zhen, Yikai Wang, Richard Wang</p>
      <h3>Project Description</h3>
      <p>Due to our musical interest, we decide to create a webpage that offers users a quick and efficient mean of finding trends in popular genres, songs, authors, etc between various years.</p>
    </div>

</body>

</html>
