<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>The Beauty of Lightsteel Blue</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="../static/css/overwrite.css" rel="stylesheet">
  </head>

  <body>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header style="background-color: lightsteelblue;">
      <div id="title">
	<span>
	  <b>Some Strange Music Data Project</b>
	</span>
      </div>
      <div id="buttons">
	<span>
	  <button id="home">
	    Home
	  </button>
	  <div style="width:50px;height:auto;display:inline-block"></div>
	  <button id="about">
	    <a style="text-decoration: none; color: black" href="/about/">About</a>
	  </button>
	</span>
      </div>
    </header>

    <!-- Main Content -->
    <svg id="year">
    </svg>
    <section id="data">
    </section>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/data.js"></script>
  </body>

</html>
