<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>The Beauty of Lightsteel Blue</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/overwrite.css" rel="stylesheet">
  </head>

  <body>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header style="background-color: lightsteelblue;">
      Header???
    </header>

    <!-- Main Content -->
    <svg id="year">
    </svg>
    <svg id="data">
    </svg>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/data.js"></script>
  </body>

</html>
